;default seed, initial time, and some test final time
SEED 0
INIT_TIME 0
FIN_TIME 2000000000

;https://www.cs.uic.edu/~jbell/CourseNotes/OperatingSystems/6_CPU_Scheduling.html
ARRIVE_MIN 0
ARRIVE_MAX 3

CPU_MIN 1	;https://en.wikipedia.org/wiki/Memory_hierarchy
CPU_MAX 300	;https://software.intel.com/en-us/forums/intel-manycore-testing-lab/topic/287236

;https://www.prowesscorp.com/computer-latency-at-a-human-scale/
;both disks are SSD, the varience is a bit higher in disk 2 since it's older
DISK1_MIN 25000 
DISK1_MAX 375000
DISK2_MIN 23750
DISK2_MAX 393750
NETWORK_MIN 160000000
NETWORK_MAX 352500000

;according to specification
QUIT_PROB 0.2
NETWORK_PROB 0.3

